/* Empty. Add your own CSS if you like */

.intro-well {
    /* background: rgba(105, 197, 48, 0.8); */
    background: rgba(0, 0, 0, 0.4);
    border-radius: 16px;
    padding: 32px;
    border: none;
    text-align: center;
    color: #fff;
}

.intro-background {
    height: 100%;
    background-size:100% 100%;
    background-image: url('../img/splash1.png');
}

.percentage {
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
}



.easy-pie-chart {
    position: relative;
    text-align: center;
}
.easy-pie-chart canvas {
    position: absolute;
    top: 0px;
    left: 0px;
}

.good {
    color:#9ABC32;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.15);
}

.bad {
    color:#D53F40;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.15);
}

.target {
    color:#6FB3E0;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.15);
}

.earth-card {
    -webkit-animation:scaleUp 0.2s both ease-in;
	-moz-animation:scaleUp 0.2s both ease-in;
	animation:scaleUp 0.2s both ease-in;
}

.statistics-1 {
    -webkit-animation:slideInUp 0.3s both ease-in;
	-moz-animation:slideInUp 0.3s both ease-in;
	animation:slideInUp 0.3s both ease-in;
}
.statistics-2 {
    -webkit-animation:slideInUp 0.3s both ease-in;
	-moz-animation:slideInUp 0.3s both ease-in;
	animation:slideInUp 0.3s both ease-in;
}
.statistics-3 {
    -webkit-animation:slideInUp 0.3s both ease-in;
	-moz-animation:slideInUp 0.3s both ease-in;
	animation:slideInUp 0.3s both ease-in;
}

.statistics-4 {
    -webkit-animation:slideInUp 0.3s both ease-in;
	-moz-animation:slideInUp 0.3s both ease-in;
	animation:slideInUp 0.3s both ease-in;
}

.scale-fade-in 	{
    -webkit-animation:scaleUp 0.2s both ease-in;
	-moz-animation:scaleUp.2s both ease-in;
	animation:scaleUp 0.2s both ease-in;
}

/* scale up */
@keyframes scaleUp {
	from 		{ opacity: 0.3; transform: scale(0.2); }
}
@-moz-keyframes scaleUp {
	from 		{ opacity: 0.3; -moz-transform: scale(0.2); }
}
@-webkit-keyframes scaleUp {
	from 		{ opacity: 0.3; -webkit-transform: scale(0.2); }
}


/* slide in from the bottom */
@keyframes slideInUp {
	from 	{ transform:translateY(300%); }
	to 		{ transform: translateY(0); }
}
@-moz-keyframes slideInUp {
	from 	{ -moz-transform:translateY(300%); }
	to 		{ -moz-transform: translateY(0); }
}
@-webkit-keyframes slideInUp {
	from 	{ -webkit-transform:translateY(300%); }
	to 		{ -webkit-transform: translateY(0); }
}
