<ion-view title="Noooo">
  <ion-content class="padding">
    <div class="row">
        <div class="col" style="text-align:center">
            <img ng-src="img/{{bad}}" alt="" />
        </div>
    </div>
    <div class="row" style="padding:10px">
          <div class="col col-33 col-offset-33" style="text-align:center">
            <div class="card">
              <div class="item item-text-wrap">
                <h1 style="color:#D53F40;text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.15);">You created {{score}} Kg of carbon</h1>
              </div>
            </div>

          </div>
    </div>

  </ion-content>
</ion-view>
