<ion-view title="You Are Awesome" hide-back-button="true">
  <ion-content class="padding">
    <div class="row">
        <div class="col" style="text-align:center">
            <img ng-src="img/{{good}}" alt="" />
        </div>
    </div>
    <div class="row" style="padding:10px">
          <div class="col col-33 col-offset-33" style="text-align:center">
            <div class="card">
              <div class="item item-text-wrap">
                <h1 style="color:#9ABC32;text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.15);">You saved {{score}} Kg of Carbon</h1>
              </div>
            </div>
          </div>
    </div>
  </ion-content>
</ion-view>
