<ion-view hide-nav-bar="true">
    <ion-content scroll="false">
        <div class="intro-background">
            <div class="row" style="padding: 20px">
                <div class="col">
                </div>
            </div>
            <div class="row" style="height: 20%">
                <div class="col">
                    &nbsp;
                </div>
            </div>
            <div class="row" style="height:30%">
                <div class="col">
                    <div class="intro-well">
                        <h2 style="color: rgba(255,255,255,0.95)">Welcome</h2>
                        <p>
                            <h4 style="color: rgba(255,255,255,0.85)"></h4>
                            <br>
                        </p>
                        <a class="button button-balanced"  href="#/tab/dash"><i class="ion-ios7-paw"></i> Tap to Enter</a>
                    </div>
                </div>
            </div>

        </div>
    </ion-content>
</ion-view>