<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="Make Your Choice">
  <ion-content has-header="true" padding="true">
      <div class="list">
    
        <a class="item item-thumbnail-left" ng-click="select(1)">
          <img src="cover.jpg">
          <h2>Pretty Hate Machine</h2>
          <p>Nine Inch Nails</p>
        </a>

        <a class="item item-thumbnail-left" href="#">
          <img src="cover.jpg">
          <h2>Pretty Hate Machine</h2>
          <p>Nine Inch Nails</p>
        </a>

        <a class="item item-thumbnail-left" href="#">
          <img src="cover.jpg">
          <h2>Pretty Hate Machine</h2>
          <p>Nine Inch Nails</p>
        </a>

        <a class="item item-thumbnail-left" href="#">
          <img src="cover.jpg">
          <h2>Pretty Hate Machine</h2>
          <p>Nine Inch Nails</p>
        </a>
    

    </div>
  </ion-content>
</ion-view>
