<ion-view title="Statistics">
  <ion-content>
    <div class="row" style="padding:10px">
      <div class="col">
        <a class="item item-thumbnail-left">
          <img ng-src="img/thanks.png" width="80">
          <h2>Carbon Credit</h2>
          <h1 style="color:#9ABC32;text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.15);">1234 Kg</h1>
        </a>
      </div>
    </div>
    <div class="row" style="padding:10px">
      <div class="col">
        <a class="item item-thumbnail-left">
          <img ng-src="img/icons/{{f.image}}">
          <h2>Carbon Debit</h2>
          <h1 style="color:red">1234 Kg</h1>
        </a>
      </div>
    </div>
    

  </ion-content>
</ion-view>


