<ion-view title="Tasks">
  <ion-content class="padding">
    <div class="list card">

  <div class="item item-avatar">
    <h2>{{task.title}}</h2>
  </div>

  <div class="item item-body">
    <p>
        {{task.content}}
    </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" ng-click="complete(task.id)">
      <i class="icon ion-checkmark"></i>
      Completed
    </a>
    <a class="tab-item" ng-click="dismiss(task.id)">
      <i class="icon ion-close"></i>
      Dismiss
    </a>
  </div>

</div>
  </ion-content>
</ion-view>
