<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="Make Your Choice">
  <ion-content has-header="true" padding="true">
      <div class="list">
    
        <a class="item item-thumbnail-left" ng-repeat="f in food" ng-click="select(f.id)">
          <img ng-src="img/icons/{{f.image}}">
          <h2 style="text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.15);">{{ f.name }}</h2>
        </a>
    </div>
  </ion-content>
</ion-view>
